body { background: #554a7d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 36px; display: flex; }
.block-sms-0 { color: #cd1ae8; font-size: 20px; margin-bottom: 5px; }
.block-router-1 { color: #1e48fe; font-size: 13px; margin-bottom: 5px; }
.block-order-2 { color: #77bda8; font-size: 20px; margin-bottom: 5px; }
.block-sms-3 { color: #cd639d; font-size: 20px; margin-bottom: 5px; }
.block-filter-4 { color: #2ef268; font-size: 16px; margin-bottom: 5px; }